@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h2>
 @*    @ViewBag.GRN
    @ViewBag.Message
    @ViewBag.EncDataval
    @ViewBag.headerVal *@
</h2>

<script>
    $(document).ready(function () {

        var GRN = "@ViewBag.GRN";
        var Message = "@ViewBag.Message";




        // alert('@ViewBag.EncDataval');
        showerr(Message, GRN);

    });
    function showerr(error, GRN) {
        Swal.fire({

            text: error,
            type: "success"
        }).then(function () {
            window.location.href = "../RetailOff/LicensePayFee/LicensePayFeeView"
        });
    }

</script>


